{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'assets/css/faq.css' %}">
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        

        
        
        <title>Frequently Asked Questions</title>
    </head>
    <body>

      <div>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: 12%;">
            <div class="container">
                        <a href="/" style="width: 5%;"><img class="flex-shrink-1 card-img-top" src="{% static 'assets/img/logo.png'%}" style="width: 95%;"></a>
    
    
                        <a class="navbar-brand text-right text-black" id="main_title" href="/home" style="padding-left: 17px;">
                            <strong>POSHAN SAATHI</strong>
                        </a>
    
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav shadow-sm d-xl-flex ml-auto" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" style="padding: 12px;">
    
    
                                <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                    <a class="nav-link border rounded border-secondary " href="/event/recent" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">EVENTS</a>
                                </li>
    
                                <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                    <a class="nav-link border rounded border-secondary " href="#" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">BMI CALCULATOR</a>
                                </li>
    
                                <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                    <a class="nav-link border rounded border-secondary " href="/calorie" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">CALORIE CALCULATOR</a>
                                </li>
    
                                
                                
                                <li class="nav-item" role="presentation" style="padding-right: 5px;">

                                
                                  <div  class="nav-link border rounded border-secondary " id="google_translate_element" style="background-color: rgba(255,255,255,0.15);padding: 0px 5px;"></div>
                                  <script>
                                  function googleTranslateElementInit() {
                                      new google.translate.TranslateElement(
                                      {pageLanguage: 'en'},
                                      'google_translate_element'
                                  );
                                  }
                                  </script>
                                  <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                              </li>
    
                            
    
                            </ul>
                        </div>
                    </div>
        </nav>
    
    </div>



        <div class="container">
          <div class="heading text-center" style="margin-top: 7%; ">
          <h2 ><b><center>Frequently Asked Questions</center></b></h2></div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Can you recommend any tools that will help me stay motivated to stay on my eating plan?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        Continue to remind yourself of the benefits of reaching your goal. It may be looking good in those summer shorts or having more energy to keep up with your kids. Put up notes to remind yourself if necessary.
Weigh yourself weekly and give yourself a NON-FOOD reward. It doesn’t have to be expensive. It could be giving yourself a candle-lit bubble bath or a back-rub from your spouse. Get creative.
Continue to focus on health and wellness. Read books and articles that are motivating. Also, avoid environmental triggers that stir up your cravings such as watching food-related TV shows, meeting your friends at your favourite pastry shop, etc.
Keep graphic records of your accomplishments. Watching that line on your weight graph go down or the line on your exercise graph go up can be quite motivating!
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          I am trying to eat a vegetarian diet. How can I get the protein that I need?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        It is good that you are concerned because many people who start eating a vegetarian diet simply eliminate the meat from their diet and compromise their protein needs.
 Rich protein sources include lentils, legumes, nuts/seeds, soy products (such as tofu or soy meat substitutes), eggs, and dairy products.
 You need to be intentional about consuming these foods several times throughout the day.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          What is the difference between being overweight and being obese?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        Determining whether someone is overweight or obese is often determined by assessing a person's body mass index (BMI), which is a ratio between weight and height. 
If your BMI falls between 25 and 29.9, you are overweight. If your BMI is 30 or higher, you are considered obese.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          What is the best way to lose weight?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                        When it comes to healthy weight loss, slow and steady wins the race. Aim for losing 1 to 2 pounds per week by increasing physical activity, making healthy diet changes,
 and getting support from your doctor or from a weight loss program. To stick to a weight loss plan,
 choose moderate weight loss goals and adapt your diet and fitness routine in ways that are sustainable and not too restrictive.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          What is the relationship between eating healthily and calories?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">
                        Calories are your body’s source of fuel. We need to refuel our energy supply by eating food,
 yet many diets have branded calories as our enemy for weight, yet calories are a necessary part of our lives.
 A regular man should aim for around 2500 calories, and a woman around 2,000 calories per day for a healthy diet,
 unless trying to lose weight. Generally high calorie foods indicate a higher amount of salt, sugars or fat, yet some foods that are naturally high in calories are a useful,
 nutritious inclusion to a healthy diet. Corn, nuts, avocados, olive oil, and whole grain breads are all calorie-rich but beneficial foods, providing a variety of nutrients
 needed in your diet and also provide long lasting satisfaction to other healthy foods that fail to fill you up.
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

      
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>