{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <title>Poshan Saathi</title>
   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

    <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/best-carousel-slide.css' %}">

   

    <link rel="stylesheet" href="{% static 'assets/css/Responsive-footer.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/stylewa.min.css'%}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    
   

    <style>
        .success{
            border: 1px solid white;
            background-color: white;
            border-radius: 20px;
        }
        .shift{
            padding-top: 5%;
            float: none;
            padding-left: 27%;
            
        }
        .buttons{
            padding-bottom: 5%;
            padding-left: 37%;
        }
        span{
            padding-left: 5%;
        }
    </style>
</head>



<body class="bg-gradient-primary" style="background-color: white;">
    
    
    <!-- Start: Header Blue -->
    <div>
        <!-- Start: Header -->
        <div class="header-blue" style="padding: 0px;background-color: rgba(255,255,255,0.25);">
            
            <!-- Start: Navigation Clean -->
            <nav class="navbar navbar-light navbar-expand-xl navigation-clean fixed-top " style="background-color: rgba(0,0,0,0.9);">
                <div class="container">
                    <a href="/" style="width: 4%;"><img class="flex-shrink-1 card-img-top" src="{% static 'assets/img/logo.png'%}" style="width: 95%;"></a>


                    <a class="navbar-brand text-right text-white" id="main_title" href="/" style="padding-left: 17px;">
                        <strong>POSHAN SAATHI</strong>
                    </a>

                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon " ></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav shadow-sm d-xl-flex ml-auto" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" style="padding: 12px;">


                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/event/recent" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">EVENTS</a>
                            </li>

                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/bmiuser" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">BMI CALCULATOR</a>
                            </li>

                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/calorieuser" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">CALORIE CALCULATOR</a>
                            </li>
                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/login" style="background-color: rgba(255,255,255,0.15);padding: 10px 12px;">LOG IN</a>
                            </li>
                            <li class="nav-item" role="presentation" style="padding-right: 5px;">

                                
                                <div  class="nav-link border rounded border-secondary " id="google_translate_element" style="background-color: rgba(255,255,255,0.15);padding: 0px 5px;"></div>
                                <script>
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement(
                                    {pageLanguage: 'en'},
                                    'google_translate_element'
                                );
                                }
                                </script>
                                <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End: Navigation Clean -->
        </div>
        <!-- End: Header -->
    </div>
    
    <!-- End: Header Blue -->
    <section id="carousel" style="margin-top: 8%;">
        <div class="carousel slide" data-ride="carousel" id="carousel-1" >
            <div class="carousel-inner" role="listbox" >
                <div class="carousel-item active" >
                    <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-image: url(&quot;{% static 'assets/img/img-21.jpg'%}&quot;);height: 600px; ">
                        <div class="col-lg-10 align-self-center mx-auto">
                        <h1 class="display-4 text-monospace text-uppercase text-center shadow flex-grow-1" style="background-color: rgba(255,255,255,0.41);">
                            <strong class="text-center d-inline-block" style="color: rgb(77,22,19);">POSHAN ABHIYAAN</strong>
                        </h1>
                        <hr style="color: rgb(0,0,0);background-color: #000000;">
                        <br/>
                        <br/>
                        

                    </div>

                    <div class="col-lg-8 mx-auto">
                        <p class="text-monospace text-center text-faded mb-5" style="color: #000000;background-color: rgba(255,255,255,0.5);font-size: 30px ;font-family: 'Source Sans Pro', sans-serif;"><b>Fighting malnutrition with IT.<br>सही पोषण देश रोशन</b></p>
                        
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-photography carousel-hero" style="background-image: url(&quot;{% static 'assets/img/slide2.png'%}&quot;);height: 600px;">
                        <div class="col-lg-10 align-self-center mx-auto" >
                        <h1 class="display-4 text-monospace text-uppercase text-center shadow flex-grow-1" style="background-color: rgba(255,255,255,0.41);">
                            <strong class="text-center d-inline-block" style="color: rgb(77,22,19);">POSHAN ABHIYAAN</strong>
                        </h1>
                        <hr style="color: rgb(0,0,0);background-color: #000000;">
                        <br/>
                        <br/>
                        

                    </div>

                    <div class="col-lg-8 mx-auto">
                        <p class="text-monospace text-center text-faded mb-5" style="color: #000000;background-color: rgba(255,255,255,0.5);font-size: 30px ;font-family: 'Source Sans Pro', sans-serif;"><b>Fighting malnutrition with IT.<br>सही पोषण देश रोशन</b></p>
                    </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="jumbotron pulse animated hero-technology carousel-hero" style="background-image: url(&quot;{% static 'assets/img/Implementation-of-PoshanAbhiyaan.png'%}&quot;);height: 600px;">

                    </div>
                </div>
            </div>
            <div>
                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <ol
                class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
                </ol>
        </div>
    </section>

   
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <!-- Start: 1st Slide -->
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="{% static 'assets/img/whatsapp.png'%}"></div>
                <div class="text-center blog-slider__content">
                    <!-- Start: Your Text --><div class="blog-slider__title"><b>To get all your Queries answered:</b></div>
                    <!-- End: Your Text -->
                    <!-- Start: Your Text --><div class="blog-slider__title">Contact Us : <a href="https://wa.me/14155238886">+14155238886</a> </div>
                    <!-- End: Your Text --><a class="class=&quot;blog-slider__button " href="https://wa.me/14155238886">Open in whatsapp</a></div>
            </div>
            <!-- End: 1st Slide -->
            <!-- Start: 2nd Slide -->
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img" style="background-color: rgba(0,0,0,0.1);"><img src="{% static 'assets/img/whatsapp-about-1.webp'%}"></div>
                <div class="text-justify blog-slider__content" style="width: 439px;">
                    <!-- Start: Your Text --><div class="blog-slider__text"><b>1. Type 1AADHARNUMBER to get dosage date and details.</b></div>
                    <!-- End: Your Text -->
                    <!-- Start: Your Text --><div class="blog-slider__text"><b>2. Type 2AADHARNUMBER to get list of upcoming events this month.</b></div>
                    <!-- End: Your Text -->
                    <!-- Start: Your Text --><div class="blog-slider__text"><b>3. Type 3AADHARNUMBER to check out the list of dates available for check up</b></div>
                    <!-- Start: Your Text --><div class="blog-slider__text"><b>4. (date in yyyy-mm-dd format)(aadhar number) to reschedule your dosage date</b></div>
                    <!-- End: Your Text --></div>
            </div>
            <!-- End: 2nd Slide -->
            <div class="blog-slider__pagination"></div>
        </div>
    </div>




    <div style="padding: 30px;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-3" style="width: 250px;background-color: rgba(184,181,181,0.25); ">
                    <div class="text-capitalize border rounded shadow card" style="margin: 5%;  "><a class="text-center" href="/chart"><img class="card-img-top" src="{% static 'assets/img/diet.png'%}" style="padding: 20px; width='20%';"></a>
                        <div class="text-center card-body" style="padding: 6px;">
                            <h5>General Diet Chart<br><br></h5>
                        </div>
                        <div class="card-footer text-center"><small><a href="/chart"><i class="fa fa-eye pr-1"></i>Know More<br></a></small></div>
                    </div>
                </div>
                <div class="col-md-3" style="width: 250px;background-color: rgba(184,181,181,0.25); ">
                    <div class="text-capitalize border rounded shadow card" style="margin: 5%;"><a class="text-center" href="/faq"><img class="card-img-top" src="{% static 'assets/img/06-512.webp'%}" style="padding: 20px; width='20%';"></a>
                        <div class="text-center card-body" style="padding: 6px;">
                            <h5>General Diet Chart<br><br></h5>
                        </div>
                        <div class="card-footer text-center"><small><a href="/faq"><i class="fa fa-eye pr-1"></i>Know More<br></a></small></div>
                    </div>
                </div>
                <div class="col-md-3" style="width: 250px;background-color: rgba(184,181,181,0.25); ">
                    <div class="text-capitalize border rounded shadow card" style="margin: 5%; "><a class="text-center" href="/yoga"><img class="card-img-top" src="{% static 'assets/img/yoga.png'%}" style="padding: 20px; width='20%';"></a>
                        <div class="text-center card-body" style="padding: 6px;">
                            <h5>Health and Yoga<br><br></h5>
                        </div>
                        <div class="card-footer text-center"><small><a href="/yoga"><i class="fa fa-eye pr-1"></i>Know More<br></a></small></div>
                    </div>
                </div>
                
                <div class="col-md-3" style="width: 250px;background-color: rgba(184,181,181,0.25);">
                    <div class="text-capitalize border rounded shadow card" style="margin: 5%;"><a class="text-center" href="/user/user-data/"><img class="card-img-top" src="{% static 'assets/img/download.png'%}" style="padding: 20px; width='20%';"></a>
                        <div class="text-center card-body" style="padding: 6px;">
                            <h5>Get Patient's Data<br><br></h5>
                        </div>
                        <div class="card-footer text-center"><small><a href="/user/user-data/"><i class="fa fa-eye pr-1"></i>Get Data<br></a></small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="st-at">
        <div class="row " style="background-color: rgba(249,245,240,0.97);height: 90%; " >
        <div class="shadow border-rounded" style="background-color: rgba(255,255,255,1); width: 90%; margin-left: 5%; padding:2%;">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-monospace text-center border rounded shadow flex-grow-1" style="font-family: 'Source Sans Pro', sans-serif;font-size: 45px;background-color: rgba(255,255,255,0.97); color: burlywood ;"><strong>LOCATION-WISE STATISTICS</strong></h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- End: 2 Rows 1+1 Columns -->
            <!-- Start: 2 Rows 1+3 Columns -->
            <div class="col-lg-12" >
            <div class="card text-white shadow ">
                <div class="card-body" style="width: 100%; margin-top: 2%;" >
        
                            
                            
                        <form class="search-form form-inline" method="POST" action="/home/#st-at"  style="float:center;" >
                            
                          
                            
                        
                            {% csrf_token %}
                          <input class="form-control text-dark" type="search" aria-label="Search" name="name" placeholder="enter location..." required style="  margin-left:5%;width: 80%">
        
                          <button class="btn btn-outline-warning ml-1" type="submit">Search</button>
        
                        </form>
                </div>
        
            <div id="container" style="width:65%; height: 100%; margin-left: 20%;padding: 2%;">
              <canvas id="pie-chart" width="90"></canvas>
            </div>
            <form class="search-form form-inline" method="GET"  action="/home/#st-at" style="float:center;" >
            <div id="container" style="margin-left: 48%;padding: 2%;">
                    <a><button class="btn btn-outline-warning ml-0" type="submit" >Pie</button></a>
            </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
          {% if check == False %}
            <script>
        
              var config = {
        
                  type: 'doughnut',
                data: {
                  datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 205, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
        
                        'rgba(168, 180, 132, 0.5)',
                        'rgba(90, 162, 200, 0.6)',
                        'rgba(38, 206, 86, 0.6)',
                        'rgba(150, 192, 192, 0.6)',
                        'rgba(153, 38, 255, 0.6)',
                        'rgba(10, 200, 64, 0.6)'
                      
                    ],
                    label: 'Visit_Status'
                  }],
                  labels: {{ labels|safe }}
                },
                options: {
                  responsive: true
                }
              };
        
              window.onload = function() {
                var ctx = document.getElementById('pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
              };
        
            </script>
            {% else %}
            <script>
               
        
              var config = {
        
                  type: 'bar',
                data: {
                  datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 205, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
        
                        'rgba(168, 180, 132, 0.5)',
                        'rgba(90, 162, 200, 0.6)',
                        'rgba(38, 206, 86, 0.6)',
                        'rgba(150, 192, 192, 0.6)',
                        'rgba(153, 38, 255, 0.6)',
                        'rgba(10, 200, 64, 0.6)'
                    ],
                    label: 'Visit_Status'
                  }],
                  labels: {{ labels|safe }}
                },
                options: {
                  responsive: true
                }
              };
        
              window.onload = function() {
                var ctx = document.getElementById('pie-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
              };
        
            </script>
          {% endif %}






    <div style="margin-top:5%;background-color: rgba(58,47,47,0);background-image: url(&quot;{% static 'assets/img/footer.png'%}&quot;);background-size: cover;background-repeat: no-repeat;">
        <div class="container">
            <h1 class="text-center" style="font-family:ABeeZee, sans-serif;font-size:46px;color:rgb(0,0,0);"></h1>
            <hr>
            <!-- Start: Links -->
            <ul class="list-inline" id="text_decoration" style="margin-top:30px;font-family:ABeeZee, sans-serif;">
                <li class="list-inline-item"><a class="decoration" style="color:rgb(0,0,0);font-size:20px;margin-right:10px;" href="#">Home</a></li>
                
                <li class="list-inline-item"><a style="font-size:20px;color:rgb(0,0,0);margin-right:10px;" href="#">About</a></li>
                <li class="list-inline-item"><a style="color:rgb(0,0,0);font-size:20px;margin-right:10px;" href="#">Terms</a></li>
                <li class="list-inline-item"><a style="color:rgb(0,0,0);font-size:20px;" href="/feedback/new/">Feedback</a></li>
            </ul>
            <!-- End: Links -->
            


            <p class="text-center" style="color:rgb(193,184,184);font-family:ABeeZee, sans-serif;margin-bottom:23px;">Poshan Abhiyaan@ 2020</p>
            <p class="text-center" style="color:rgb(193,184,184);font-family:ABeeZee, sans-serif;margin-bottom:23px;">#define_noobs - AS124</p>
        </div>
    </div>
    <!-- End: Responsive footer -->
</div>
<script src="{% static 'assets/script.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</body>
</html>


                   
