{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Attendance</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles_attend.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>


<body>
    <!-- Start: Header Blue -->
   <div>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="height: : 12%">
            <div class="container">
                        <a href="/" style="width: 5%;"><img class="flex-shrink-1 card-img-top" src="{% static 'assets/img/logo.png'%}" style="width: 95%;"></a>


                        <a class="navbar-brand text-right text-black" id="main_title" href="/home" style="padding-left: 17px;">
                            <strong>POSHAN SAATHI</strong>
                        </a>

                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav shadow-sm d-xl-flex ml-auto" data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" style="padding: 12px;">


                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/event/recent" style="background-color: rgba(255,255,255,0.15);padding: 8px 12px;">EVENTS</a>
                            </li>

                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/bmi" style="background-color: rgba(255,255,255,0.15);padding: 8px 12px;">BMI CALCULATOR</a>
                            </li>

                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/calorie" style="background-color: rgba(255,255,255,0.15);padding: 8px 12px;">CALORIE CALCULATOR</a>
                            </li>

                            <li class="nav-item" role="presentation" style="padding-right: 5px;">
                                <a class="nav-link border rounded border-secondary " href="/logout" style="background-color: rgba(255,255,255,0.15); padding: 8px 12px;">LOG OUT</a>
                            </li>

                            </ul>
                        </div>
                    </div>
        </nav>

    </div>
  
    <!-- End: Header Blue -->
<div class="features-boxed" style="height: 400px;">
        <div class="container-fluid" style="margin-top: 9%;">
            <!-- Start: Intro -->
            <div class="intro">
                <h1 class="text-center">Biometric Attendance Portal&nbsp;</h1>
                <p class="text-center">Your bio-metrix helps us to track your attendance.</p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="row row-cols-2 justify-content-center align-items-center features" style="background-color: rgba(120,120,122,0.32);">

                <div class="col-auto col-6 col-md-5 col-lg-4 align-self-center item" style="background-color: rgba(252,238,238,0.36);max-width: 60%;padding-top: 3%;padding-bottom: 3%;">

                    <div class="border rounded shadow-sm box " style=";" >
                        <video id="video" width=100%  autoplay></video>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary active" id="snapat" type="button">Click to snap</button>
                    </div>

                </div>


                <div class="col-auto col-6 col-md-5 col-lg-4 align-self-center item" style="background-color: rgba(252,238,238,0.36);max-width: 100%;padding-top: 3%;;padding-bottom: 3%;">

                    <div class="text-center border rounded shadow-sm box" style=";">
                        <canvas id="canvas" width="640" height="480"></canvas>

                    </div>

                    <form method="post" action="/registration/attendance/" enctype="3487" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <input class="form-control" type="hidden" id="imurlat" name="imurlat" value="3487">
                        <div class="btn-group" role="group">
                            <button class="btn btn-outline-primary active"  type="submit">Submit</button>
                        </div>
                       
                    </form>
                    
                </div>
 
               
            </div>
            <!-- End: Features -->
        </div>
    </div>

<script>
var video = document.getElementById('video');

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
    });
}
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var video = document.getElementById('video');

// Trigger photo take
document.getElementById("snapat").addEventListener("click", function() {
	context.drawImage(video, 0, 0, 640, 480);
	var dataURL = canvas.toDataURL();
    document.getElementById('imurlat').setAttribute('value',dataURL.replace(/^data:image\/(png|jpg);base64,/, ""));;
    document.getElementById('canvas').src = dataURL;
   //canvas.hight=320;
   //canvas.width=428;
   //context=canvas.getContext('2d');
   //context.drawImage(video, 0, 0, 428, 320);

});


</script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>